# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/

# Virtual Env
.venv/
env/
venv/

# Environment variables
.env

# Editor
.vscode/

# Ngrok
ngrok.exe
ngrok.log
url.txt
debug_match.txt

# Next.js
frontend/.next/
frontend/node_modules/
frontend/out/

# Temporary test outputs
test_output*.txt
test_api_*.py
test_api_*.txt

pem_folder/
